.aside {
  float: left;
  margin-top: -2vh;
  width: 30%;
  height: 90vh;
  background-color: #629c81;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
  padding: 20px;
  font-size: 30px;
}
