.container-start-page {
  padding-left: 3em;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: [col] 23% [col] 23% [col] 23% [col] 23%;
}

.box {
  padding: 20px;
  font-size: 150%;
  border: 1px groove #629c81;
  box-shadow: 0 0 0 1px green, 0 0 0 1px orange;
  border-top-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0;
}

.alerts {
  grid-column: col;
  grid-row: row;
}

.jobs {
  grid-column: col 2 / span 3;
  grid-row: row;
}

.notification {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 4em;
}

.notify {
  display: block;
  top: 0;
  right: 1.3333em;
  width: 3em;
  margin: 1.0833em 0;
  border-radius: 50%;
  font-size: 0.75em;
  line-height: 2;
  text-align: center;
  background: #f53d3d;
  box-shadow: 0 0 0 0.25em #c20a0a;
  animation: pulse 0.75s infinite;
}

.alert-text {
  font-size: 20px;
}

.notificationBtn {
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  padding: 1em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: red;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}

.fire {
  display: grid;
  text-align: center;
}

.jobs-select {
  display: inline-flex;
}

.job-text {
  margin-top: 6px;
  margin-right: 10px;
}

.alerts {
  margin-top: -3px;
}

option {
  border-radius: 0.5em;
}

select.arrows:focus {
  border-color: blue;
  outline: 0;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0.2em #c20a0a;
  }
  25% {
    box-shadow: 0 0 0 0.05em #c20a0a;
  }
  50% {
    box-shadow: 0 0 0 0.375em #c20a0a;
  }
  75% {
    box-shadow: 0 0 0 0.2em #c20a0a;
  }
  100% {
    box-shadow: 0 0 0 0.3em #c20a0a;
  }
}
@-moz-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0.2em #c20a0a;
  }
  25% {
    box-shadow: 0 0 0 0.05em #c20a0a;
  }
  50% {
    box-shadow: 0 0 0 0.375em #c20a0a;
  }
  75% {
    box-shadow: 0 0 0 0.2em #c20a0a;
  }
  100% {
    box-shadow: 0 0 0 0.3em #c20a0a;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0.2em #c20a0a;
  }
  25% {
    box-shadow: 0 0 0 0.05em #c20a0a;
  }
  50% {
    box-shadow: 0 0 0 0.375em #c20a0a;
  }
  75% {
    box-shadow: 0 0 0 0.2em #c20a0a;
  }
  100% {
    box-shadow: 0 0 0 0.3em #c20a0a;
  }
}
